/* Text */
/* Add your styling for your text here */
h1, h2, h3, h4, h5, h6 {
    /* Let's add a font for our headings */
}
.DanaHeader {
  background-color: #333;
  overflow:hidden
}
body {
  background-color: powderblue;
}

p, * {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px
}

h1, * {
  color: Black;
  text-align: center;
  font-size: 40px;
}
.topnav2{
  background-color: #333;
  overflow: hidden;
}
.topnav1{
  background-color: #333;
  overflow:hidden
}

/* Nav bar */
/*nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 50px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    background-color: #eeeeee;
}*/

/* Add more nav bar attributes and styling here */

/* Add scroll link attributes here */

/* Content */
/* Add some styling for your content here */
